.button-primary {
    background-color:#78cc78;
    font-weight: 600;
    margin: 2px;
    min-width: 100px;
}
  
.button-primary:hover {
    background-color:#99d899;
    border: none;
}
  
.button-secondary {
    background-color:#dbd8db;
    font-weight: 500;
    margin: 2px;
    width: 100px;
}
  
.button-secondary:hover {
    background-color:#f1f1f1;
    border: none;
  }
  
.button-delete {
    background-color:#a73939;
    font-weight: 500;
    color: white;
    margin: 2px;
    width: 100px;
}
  
.button-delete:hover {
    background-color:#f76868;
    color: black;
    border: none;
  }